################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BillAllocator/FileContentIndex
/.vs
/code/eng/BillScheduler/.vs/BillScheduler
